@{
	var headerViewData = new ViewDataDictionary(ViewData) { { "ActivePage", "About" } };

	@await Html.PartialAsync("_Header", null, headerViewData);
}
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			За Нас
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<p class="stext-115 cl3 p-t-18">
						TwinsFashion EOOD е модерен онлайн магазин, който предлага най-новите колекции от мъжко и дамско облекло, както и стилни мъжки и дамски обувки. Нашите продукти са с топ качество и са внимателно подбрани, за да отговорят на нуждите и вкуса на всеки клиент.
					</p>
					<p class="stext-115 cl3 p-t-18">
						Колекциите ни са достъпни 24/7, така че можете да пазарувате по всяко време и от всяко място. Гарантираме бърза доставка и отлично обслужване, за да направим вашето пазаруване приятно и удобно. Доверете се на TwinsFashion за стил, качество и сигурност при всяка поръчка!
					</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="~/images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	