@await Html.PartialAsync("_Header", null, new ViewDataDictionary(ViewData) { { "ActivePage", "Contacts" } })
	<!-- Title page -->
	@model EmailContactUsViewModel
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Контакти
		</h2>
	</section>	
	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form asp-action="Contacts" asp-controller="Home" method="post">
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							Изпрати ни съобщение
						</h4>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input asp-for="EmailAddress" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" placeholder="Вашият Имейл ">
							<span asp-validation-for="EmailAddress" class="text-danger"></span>
							<img class="how-pos4 p"ointer-none" src="~/images/icons/icon-email.png" alt="ICON">
						</div>

						<div class="bor8 m-b-30">
							<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" asp-for="Description" placeholder="Как можем да помогнем"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
						</div>

						<button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
							Изпрати
						</button>
					</form>
				</div>

				<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Адрес
							</span>

							<p class="stext-115 cl6 size-213 p-t-18">
								Град Пазарджик. <br>
								Улица Професор Асен Златарев 15
							</p>
							<div class="map-container">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2675.065952655002!2d24.33057007557703!3d42.1921226456957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acafffccf10e29%3A0xbd10a6b2502af5c2!2z0J_QsNC30LDRgNC00LbQuNC6INCm0LXQvdGC0YrRgCwg0YPQuy4g4oCe0J_RgNC-0YTQtdGB0L7RgCDQkNGB0LXQvSDQl9C70LDRgtCw0YDQvtCy4oCcIDE1LCA0NDAwINCf0LDQt9Cw0YDQtNC20LjQug!5e1!3m2!1sbg!2sbg!4v1753691354796!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
					</div>

					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Телефон за връзка
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								+359 885147120
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>