@{

	var headerViewData = new ViewDataDictionary(ViewData) { { "ActivePage", "Index" } };

	@await Html.PartialAsync("_Header", null, headerViewData);
}
	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1 rs2-slick1">
			<div class="slick1">
			<div class="item-slick1 bg-overlay1" style="background-image: url(/images/Logo/TwinsFashion.png);">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Дамска Колекция 2025
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									Twins Fashion
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a asp-controller="Home" asp-action="Products" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Купи сега
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</section>