@await Html.PartialAsync("_Header");
<div class="no-products-message text-center">
    <p>Няма никакви продукти, моля върнете се към <a asp-controller="Home" asp-action="Index">началото</a>.</p>
</div>
