@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на вашата заявка.</h2>

<а asp-controller="Home" asp-action="Index ">Върнете се на началната страница</а>